/* HomePage.module.css */

.pageWrapper {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  

  
  .mainContent {
    padding: 50px 20px;
    display: flex;          /* Enables Flexbox */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center;/* Vertically centers children */
    align-items: center; 
    height: 60vh;  
  }
  
  .title {
    color: #333;
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #666;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .getStartedButton {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .getStartedButton:hover {
    background-color: #e0a800;
  }
  
  .footer {
    background-color: #f5f5f5;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  